<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>O nas</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <style type="text/css">
media: (min-width: 992px) {
        h1 {
            left: 16.6667%;
            width: 66.6667%;
            display: block;
            position: relative;
            padding-left: 15px;
        }
    }

    p {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 175%;/
    }

	.naglowek {
        font-size: larger;
    }

    .naglowek-tekst1 {
         margin-bottom: 30px;
    }
    .ikony1 {
        align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .ikona {
		max-width: 85px;
		max-height: 85px;
        margin-top: 20px;
        margin-bottom: 20px;
		//vertical-align: middle;
	}

	.ikona2 {
		max-width: 80px;
		max-height: 80px;
		vertical-align: middle;
        display: inline-block;
        height: 100%;
    }

    .ikona3 {
        float: none;
        vertical-align: middle;
        display: inline-block;
    }

    .zalety {
        float: none;
        vertical-align: middle;
        display: inline-block;
    }

    .wiecej {
        padding-top: 30px;
        font-size: smaller;
    }
    .wiecej-ikony {
        float: none;
        vertical-align: middle;
        display: inline-block;
        margin-top: 30px;
    }
media: (min-width: 992px) {

	.column5 {
		float:left;
		width: 20%;
		padding: 0;
		margin: 0;
	}
}
            </style>
            <article class="container col-sm-12 col-md-push-2 col-md-8">
                <section class="row">
                    <p class="col-xs-12">Nasza historia rozpoczęła się w 2009 r. z chwilą otwarcia głównej siedziby firmy. Od tego czasu nieustannie rozwijamy się jak i nasz sklep internetowy aby zakupy na naszej stronie były dla Ciebie przyjemnością.</p>
                </section>

                <section class="row">
                    <p class="col-xs-12">Największa siłą MotoCar.pl są nasi ludzie. Profesjonalni, zaangażowani i otwarci na potrzeby Klient&oacute;w. Skupieni w 14 działach tworzą jeden z największych sklep&oacute;w motoryzacyjnych w Polsce. Nasz młody, prężny zesp&oacute;ł liczy już ponad 700 os&oacute;b i stale się powiększa.</p>
                </section>

                <section class="row">
                    <img alt="" class="col-md-6 col-xs-12 img-responsive" src="http://moto-car.btips.pl/img/u/3061554/logo.png?r=0.8718367178544995" />
                    <div class="col-md-6 col-xs-8">
                        <span class="naglowek">Dane firmy:</span>

                        <div class="naglowek-tekst1">
                            moto-car sp. z o.o.<br />
                            Grudziądzka 5<br />
                            87-100 Toruń<br />
                            NIP: 4968305934, REGON: 495039283<br />
                            <br />
                            KRS 0000593330: Sąd Rejonowy w Toruniu<br />
                            XVII Wydział Gospodarczy Krajowego Rejestru Sądowego
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-8">
                        <span class="naglowek">Konto bankowe:</span><br />
                        33 7099 2222 0000 2059 4069 3960<br />
                        PKO S.A. O./Toruń
                    </div>
                </section>

                <section class="row">
                    <div class="col-xs-12">
                        <h3>Dlaczego my?</h3>
                    </div>

                    <p class="col-xs-12">Przez ponad 7 lat naszej działalności zyskaliśmy zaufanie setek tysięcy Klient&oacute;w, a ich liczba ciągle rośnie. Zobacz dlaczego wybrali właśnie MotoCar.pl.</p>
                </section>

                <section class="row">
                    <div class="zalety col-xs-12 col-sm-2"><img alt="" class="ikona img-responsive" src="http://st2.depositphotos.com/5266903/9039/v/110/depositphotos_90392694-Client-ok-circled-vector-icon.jpg" /></div>
                    <!--


                            -->

                    <div class="zalety col-xs-12 col-sm-9">
                        <h3>Twoja satysfakcja jest dla nas naważniejsza!</h3>

                        <p>Od początku działalności najważniejsze było dla nas zadowolenie naszych Klient&oacute;w, dzięki czemu cieszymy się świetnymi opiniami i nienaganną reputacją. Właśnie to&nbsp;wyr&oacute;żnia&nbsp;nas wśr&oacute;d konkurencji.</p>
                    </div>
                </section>

                <section class="row">
                    <div class="zalety col-sm-2 col-xs-12"><img alt="" class="ikona img-responsive" src="http://images.vectorhq.com/images/thumbs/9d2/phone-icon-clip-art-92545.png" /></div>

                    <div class="zalety col-xs-12 col-sm-9">
                        <h3>Zapewniamy fachowe doradztwo</h3>

                        <p>Nasz zesp&oacute;ł składa się z młodych, ambitnych ludzi, kt&oacute;rzy świetnie znają się na sprzedawanym sprzęcie i chętnie pomogą w dokonaniu właściwego wyboru. W przypadku pytań lub wątpliwości prosimy o kontakt z naszą infolinią. Nasi handlowcy pomogą wybrać samochód lub część samochodową dopasowaną do indywidualnych potrzeb i oczekiwań. Jesteśmy też otwarci na wszelkie propozycje odnośnie usprawnienia działalności naszego sklepu.</p>
                    </div>
                </section>

                <section class="row">
                    <div class="zalety col-sm-2 col-xs-12"><img alt="" class="ikona img-responsive" src="https://image.freepik.com/darmowe-ikony/dom-z-zamkni%C4%99tej-k%C5%82odki-piktogram_318-33332.png" /></div>
                    <!--

                            -->

                    <div class="zalety col-xs-12 col-sm-9">
                        <h3>Gwarantujemy bezpieczne zakupy</h3>

                        <p>Poza wysoką jakością obsługi i komfortem zakup&oacute;w, zapewniamy&nbsp;także całkowite bezpieczeństwo. Dane osobowe, kt&oacute;re Klienci udostępniają&nbsp;nam w chwili zam&oacute;wienia, są w pełni chronione i wykorzystywane wyłącznie w celu realizacji transakcji. W przypadku pytań lub problem&oacute;w z zakupionym u nas sprzętem nasz Dział Wsparcia Technicznego udzieli szybkiej i fachowej pomocy. Do wszystkich sytuacji podchodzimy indywidualnie i dokładnie analizujemy każdy przypadek, aby zapewnić jak najlepsze rozwiązanie.</p>
                    </div>
                </section>

                <section class="row">
                    <div class="zalety col-sm-2 col-xs-12"><img alt="" class="ikona img-responsive" src="https://image.freepik.com/darmowe-ikony/sylwetka-wielu-u%C5%BCytkownikow_318-49546.jpg" /></div>
                    <!--

                            -->

                    <div class="zalety col-xs-12 col-sm-9">
                        <h3>Stawiamy na pasję i zaangażowanie</h3>

                        <p>Tak samo jak o Klient&oacute;w, dbamy o swoich pracownik&oacute;w. Właśnie dlatego nasze szeregi zasila już ponad 700 os&oacute;b, z kt&oacute;rych każda wnosi do firmy masę pomysł&oacute;w i energii do pracy. Zapraszamy do naszego zespołu wszystkich, kt&oacute;rzy chcą dzielić z nami swoje pasje oraz rozwijać umiejętności i zainteresowania. Szukamy ludzi, kt&oacute;rzy chętnie podejmują nowe wyzwania i nie boją się przedstawiać własnych pomysł&oacute;w i rozwiązań. Zobacz nasze aktualne ogłoszenia w zakładce Kariera &ndash; być może szukamy kogoś takiego jak Ty.</p>
                    </div>
                </section>
            </article>

        </div>
    </div>
</div>
